*.class
*.log
.DS_Store

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/*

# Intelli-J
.idea
.metals
.bloop
test-data/
data/*
project/metals.sbt
out/*
.vscode/*
.bsp/*
/http/src/test/scala/mtest/http/auth/LoginTest.scala
storage/*
/project/tmp-557220lowYtYkuHZn-SnykSbtPlugin.scala
